
@{
    ViewBag.Title = "Music";
}

<h2>音符查詢</h2>

@using (Html.BeginForm("Music", "User", FormMethod.Post))
{
    <div>
        姓名:@Html.TextBox("name")
        <br />
        數字:@Html.TextBox("num")
        <p>Hi,@ViewBag.Name,查詢音符為: @ViewBag.Num</p>
    </div>
    <input type="submit"  value="送出" />
}
